.card {
  border: 2px solid rgb(255, 0, 179);
  min-height: 400px;
  width: 300px !important;
  box-shadow: 0 0 2px 1px white, 0 0 10px 1px rgb(53, 55, 77);
  display: flex;
    align-items: center;
    transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 1px rgb(255, 0, 179), 0 0 10px 1px rgb(53, 55, 77);
}

ul {
  list-style: none;
  align-items: flex-start !important;
}


.img-container {
  width: 300px;
  height: 200px;
}
.img{
  height: 100%;
  width: 100%;
}

.link {
  align-items: flex-end;
  justify-content: flex-end;
}
