.background {
  background-color: rgb(62, 64, 78); 
}

.navbar-brand {
  font-size: 25px !important;
  color: white !important;
  margin-left: 20px;
}
.navbar li {
  margin: 20px;
  margin-left: 30px;
}

.navbar li a {
  color: white;
  margin: 20px;
  margin-left: 30px;
}

.navbar li a:hover {
color: rgb(255, 0, 179) !important;
}
